body{
    background-image: url("./images/background/hydration.jpg");
    background-size: 100%;
}

.mdlwindowblue{
    opacity: 0;
    pointer-events:none;
    background-color: rgba(54, 54, 255, 0.5);
    transition: all 1s ease-in;
    position: fixed;
    left: 0;
    top: 0;
    bottom:0;
    right: 0;
}

.mdlwindowgreen{
    opacity: 0;
    pointer-events:none;
    background-color: rgba(5, 128, 1, 0.5);
    transition: all 1s ease-in;
    position: fixed;
    left: 0;
    top: 0;
    bottom:0;
    right: 0;
}
.mdlwindowred{
  
    opacity: 0;
    pointer-events:none;
    background-color: rgba(136, 8, 8, 0.5);
    transition: all 1s ease-in;
    position: fixed;
    left: 0;
    top: 0;
    bottom:0;
    right: 0;
}



.mdlwindowblue:target{
    opacity:1;
    pointer-events:all;

}

.mdlwindowgreen:target{
    opacity:1;
    pointer-events:all;

}

.mdlwindowred:target{
    opacity:1;
    pointer-events:all;

}

.msgbox{
    position:fixed;
    background-color: rgb(48, 97, 123);
    width: 25%;
    margin: auto;
    height: auto;
    /* padding: 3%; */
    top:20%;
    left:39%;
    text-align: center;
    border-radius: 100px;
}

.modalwrapper{
    display:flex;
    /* position:absolute; */
    margin:auto;
    /* top:25%; */
    /* left:25%; */
    /* margin:auto; */
    font-size:22px;
    background-color: rgba(97, 97, 97, 0.471);
    border-radius: 100px;
    justify-content: center;


}

.kiwi1{
    text-align: center;
    /* align-content: center; */
    border: 10px solid rgb(226, 255, 60);
    margin:5%;
    /* padding:2%; */
    float:left;
    width:600px;
    background-color: rgba(122, 84, 84, 0.5);
    border-radius: 100px;
    height: auto;
}

.kiwi2{
    text-align: center;
    /* align-content: center; */
    border: 10px solid rgb(226, 255, 60);
    margin:5%;
    /* padding:2%; */
    float:left;
    width:600px;
    background-color: rgba(122, 84, 84, 0.5);
    border-radius: 100px;
    height: auto;
}

.kiwi3{
    text-align: center;
    /* align-content: center; */
    border: 10px solid rgb(226, 255, 60);
    margin: 5%;
    /* padding:2%; */
    float:left;
    width:600px;
    height: auto;
    background-color: rgba(122, 84, 84, 0.5);
    border-radius: 100px;
}

p {
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 5%;
    color:aquamarine;
    font-family: 'Calibri', sans-serif;
}

h1{
    color:aquamarine;
    background-color:rgba(91, 255, 32, 0.129);
}